:host {
    --mat-sys-surface-container-low: #1e1e1e;

    .pre-wrap {
        padding: 1rem;
        color: var(--mat-sys-on-primary);
        border-radius: 4px;
        max-height: 400px;
        overflow: auto;
    }
}
